nav a {
    color: blue;
}

body {
    font-family: 'Raleway', sans-serif;
    background: rgb(49, 54, 111);
    background: radial-gradient(circle, rgba(32, 37, 96, 1) 0%, rgb(9, 14, 58) 100%);


}


div {
    color: white;
}

p {
    color: white;
}

a {
    color: #bfd1ec;
}

ul {
    list-style-type: none;
}

#map {
    width: 100%;
    height: 100%;
    border: solid #ffffff 4px;
    border-radius: 20px;
}


@media (max-width: 990px) {
    #map {
        width: 800px;
        height: 900px;
    }
}

@media (max-width: 800px) {
    #map {
        width: 700px;
        height: 900px;
    }
}

@media (max-width: 700px) {
    #map {
        width: 650px;
        height: 900px;
    }
}



@media (max-width: 600px) {
    #map {
        width: 500px;
        height: 900px;
    }
}




/*BURGER MENU*/

.navbar-toggler {
    width: 20px;
    height: 50px;
    position: relative;
    transition: .5s ease-in-out;
}

/*remove outside content*/

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span {
    margin: 0px;
    padding: 0px;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #ffffff;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .35s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

/*when navigation is clicked*/

.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
}

/*when the navbar is collapsed*/

.navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
}

.heart {
    height: 40px;
    width: 40px;
}

#log {
    height: 30px;
    width: 30px;
}


#accountImgPage{
    height: 50px;
    width: 50px;
}

#accountImg{
    height: 38px;
    width: 38px;
}

#coord{
    visibility: hidden;
    display: none;
}

#coordDepart{
    visibility: hidden;
    display: none;
}

#coordArrivee{
    visibility: hidden;
    display: none;

}

.autocompletion {
    background-color: white;
    border-radius: 5px;
    /*border: 1px solid grey;*/
    line-height: 2.5;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 95%;
    z-index: 99;
}

.autocompletion p {
    color: black;
    border-radius: 5px;
    border: 1px solid transparent;
    margin: 0 0 0 0;
    padding: 0 5px 0 5px;
}

.autocompletion p:hover {
    background-color: #e9e9e9;
    cursor: pointer;
}

.acdiv {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.acdiv * {
    vertical-align: top;
}

#loading {
    visibility: hidden;
    width: 20px;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.btn {
    font-family: Roboto, sans-serif;
}

.form-group{
    font-family: Roboto, sans-serif;
}

#apropos{
    margin-top: 150px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #4c74b2;
}