{% extends "base.html.twig" %}

{% block page_title %}Connexion{% endblock %}

{% block page_content %}

    <main>
        <div>
            {{ errorMessage }}
        </div>
    </main>


{% endblock %}
