{% extends "base.html.twig" %}

{% block page_title %}Plus court chemin{% endblock %}

{% block page_content %}
    <main>
        <div class="container-fluid">
            <div class="row my-4" style="height: 90vh">

                <div class="col-lg-5 col-md-12 col-sm-12" style="height: 20px">
                    <div>
                        <form action="" method="post" id="form">
                            <fieldset>
                                <div class="d-flex align-content-center justify-content-center my-5">
                                    <h2> Calculer un plus court chemin</h2>
                                </div>

                                <div class="my-5">
                                    <div class="form-group row">
                                        <div class="">
                                            <input type="text" class="form-control" id="nomCommuneDepart_id"
                                                   placeholder="Point de départ">
                                            <div id="autocompletionD"></div>
                                        </div>
                                    </div>

                                    <div class="form-group row my-4">

                                        <div class="">
                                            <input type="text" class="form-control" id="nomCommuneArrivee_id"
                                                   placeholder="Point d'arrivé">
                                            <div id="autocompletionA"></div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="d-flex justify-content-center my-4 col-12">
                                            <button type="submit" class="btn btn-light">Calculer</button>
                                            <a class="nav-link mx-4 align-self-center" href="{# lien #}"><img id="heart" alt="user" src="{{ assets("assets/img/heart.png") }}"></a>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>


                    <div>

                        {#         Le plus court chemin entre {{ nomCommuneDepart }} et {{ nomCommuneArrivee }}> mesure {{ distance }} km. #}

                    </div>


                </div>


                <div class="col-lg-7 col-md-12 col-sm-12">
                    <div id="map">

                    </div>
                </div>

            </div>
        </div>


    </main>


{% endblock %}
