{% extends "base.html.twig" %}

{% block page_title %}a Propos{% endblock %}

{% block page_content %}

    <main>
        <div class="container" id="apropos">
            <div class="my-5">
                <p>Bienvenue sur Gallia, votre site de navigation en France !
                    Notre site vous permet de trouver la distance la plus courte entre deux villes françaises en
                    quelques clics seulement.
                </p>

                <p>Gallia a été fondé par une équipe d'experts en programmation web, avec une solide expérience dans le
                    domaine de la géolocalisation et du calcul d'itinéraires.
                    Nous avons développé notre site avec des algorithmes de pointe pour vous offrir la meilleure
                    expérience de navigation possible.</p>

                <p>Notre plateforme propose plusieurs fonctionnalités utiles pour les utilisateurs.
                    En plus de trouver le chemin le plus court entre deux villes, vous pouvez également retrouver vos
                    derniers trajets dans la page "vos trajets".
                    De plus, nous sommes toujours en train d'ajouter de nouvelles fonctionnalités pour rendre votre
                    expérience de
                    navigation encore meilleure.</p>

            </div>
        </div>
    </main>

{% endblock %}