{% extends "base.html.twig" %}

{% block page_title %}Connexion{% endblock %}

{% block page_content %}
    <main>
        <div class="container-fluid col-md-6 col-lg-3 my-5">
            <div class="row">
                <form class="my-5" method="{{ method }}" action="{{ route("connecter") }}">
                    <fieldset>
                        <div class="d-flex align-content-center justify-content-center">
                            <h1>Connexion</h1>
                        </div>

                        <div class="my-4">
                            <div class="form-group row">
                                <div class="my-2">
                                    <label for="login_id"></label><input type="text" class="form-control" id="login_id" placeholder="Login" name="login">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="my-2">
                                    <label for="mdp_id"></label><input type="password" class="form-control" value="" placeholder="Mot de passe"
                                                                       name="mdp"
                                                                       id="mdp_id" required>
                                </div>
                            </div>

                            <input type='hidden' name='action' value='connecter'>
                            <input type='hidden' name='controleur' value='utilisateur'>
                            <div class="d-flex align-content-center justify-content-center">

                                <button type="submit" class="btn btn-light my-4">Se connecter</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
